.sidebarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    padding: 10% 5%;
}

.lista {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

.campoBusca {
    width: 100%;
    margin-bottom: 1vw !important;
}

.iconeLista {
    color: #565656;
}